
/*Header*/
header {
    background-color: #ffcc00;
    padding: 20px;
}
header img {
    max-width: 100px; /* Asegura que la imagen no se salga del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    width: 150px; /* Ajusta este valor a la anchura deseada */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: larger;
    font-family: monospace;
}

